<div>
  <div>
    <h1>
      Outing #<%= @the_outing.id %> details
    </h1>
    <h2>
      Not all participants have completed. Try again later to see the results
    </h2>
    <div>
      <div>
        <a href="/">
          Go back
        </a>
      </div>

 <dl>

      <dt>
        Outing participants
      </dt>
      <dd>
      <ul>
        <% @the_outing.participants.each do |participant| %>
        <li>
        <%= participant.username %>
        </li>
        <% end%>
        </ul>
      </dd>

      <dt>
        Originated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing.created_at) %> ago
      </dd>

      <dt>
        Last submission
      </dt>
      <dd>
        <%= time_ago_in_words(@the_outing.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
