
  <div class="d-flex justify-content-between">
    <h1>
      My outings
    </h1>
    <a class="btn btn-outline-primary" href="/outings/new" role="button">New outing</a>
  </div>

  <hr>
  <div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">
              Created at
            </th>
            <th scope="col">
              Last Activity
            </th>

            <th scope="col">
              Other participants
            </th>

            <th scope="col">
              Status
            </th>

            <th scope="col">
            </th>
          </tr>
        </thead>
        <tbody>
          <% @list_of_outings.each do |an_outing| %>
            <tr>
              <td>
                <%= time_ago_in_words(an_outing.created_at) %> ago
              </td>
              <td>
                <%= time_ago_in_words(an_outing.updated_at) %> ago
              </td>

              <td>

                <% other_participants = an_outing.participants.where.not({id: @current_user.id})%>
                <% other_participants.each do |participant| %>
                  <div>
                    <%= participant.username %>
                  </div>
                <% end  %>

              </td>

              <td>
                <% if an_outing.completed == true %>
                  Completed
                <% elsif an_outing.outing_participants.where(user_id: @current_user.id ).first %>
                  Awaiting others
                <% else%>
                  Action needed
                <% end %>
              </td>

              <td>
                <a href="/outings/<%= an_outing.id %>">
                  Show details
                </a>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
